.header-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  padding: 18px 7%;

  background-color: rgba(0, 0, 0, 0.45);
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.website-logo {
  width: 120px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;

  margin-left: 30px;
  padding-left: 0;
}

.nav-menu li {
  margin-right: 22px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-family: Roboto;
  transition: 0.2s ease;
}

.nav-link:hover {
  color: #e50914;
}

.active-link {
  font-weight: 700;
}

.right-section {
  display: flex;
  align-items: center;
}

.search-btn-alone {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  color: #ffffff;
  width: 22px;
  height: 22px;
}

.search-bar-container {
  display: flex;
  align-items: center;

  border: 1px solid #ffffff;
  border-radius: 4px;

  overflow: hidden;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;

  color: #ffffff;
  font-size: 14px;

  width: 220px;
  padding: 8px 12px;
}

.search-btn {
  border: none;
  background: #222;
  padding: 8px 14px;
  cursor: pointer;
}

.profile-image {
  width: 38px;
  margin-left: 20px;
}

.hamburger-btn {
  display: none;

  background: transparent;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.hamburger-icon {
  color: white;
  width: 24px;
  height: 24px;
}

.mobile-menu {
  display: none;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }

  .profile-image {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }

  .search-input {
    width: 120px;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    list-style-type: none;

    margin-top: 20px;
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .header-navbar {
    padding: 16px 5%;
  }

  .website-logo {
    width: 95px;
  }

  .search-input {
    width: 100px;
  }
}
